
:host {
    --meter: 100px;
    --plot-side: calc(var(--meter) * 4);
    --plant-diameter: calc(var(--meter) * 1.25);
    --plant-radius: calc(var(--plant-diameter) / 2);
    --plant-family-radius: calc(var(--meter) * 4);
    --shf: 4.9406564584124654e-322;
}

* {
    user-select: none;
    transform-style: preserve-3d;
}

farm-world {
    display: inline-flex;
    position: relative;
    border-radius: 5px;
    background-image: url("../img/ground.png");
    background-position: center;
    background-repeat: repeat;
    padding: var(--plant-radius);
}

.bg {
    position: absolute;
    background-image: url("../img/soil.png");
    width: 100%;
    height: 100%;
    pointer-events: none;
}

farm-world > table {
    border-collapse: collapse;
}

farm-world > table > tbody {
    box-shadow: 0 0 0 2px black inset;
}

farm-world > table > tbody > tr > td {
    border: 0;
    padding: 0;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .2) inset;
}

farm-world > table > tbody > tr > td > div {
    width: var(--plot-side);
    height: var(--plot-side);
    border: 0;
    padding: 0;
}

farm-plot {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

farm-plot-info {
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 5px;
    background-color: rgb(231, 212, 171);
    opacity: .2;
    transition: all .15s ease-out;
}

farm-plot:hover farm-plot-info, farm-plot-info.show-hover, farm-plot-info.show-click {
    visibility: inherit;
    opacity: .95;
    transition: all .15s ease-in;
    transform: translateZ(10001px);
}

farm-plot-info > table {
    border-collapse: collapse;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 1px black inset;
}

farm-plot-info > table > tbody > tr > td {
    padding: 1px 8px;
}

farm-slot {
    --x: 0;
    --y: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(var(--plot-side) / 2 + var(--meter) * var(--y));
    left: calc(var(--plot-side) / 2 + var(--meter) * var(--x));
    overflow: visible;
}

farm-slot .indicator {
    --z: 0;
    position: absolute;
    transform: translate(-50%, -50%) translateZ(var(--z));
    width: var(--plant-diameter);
    height: var(--plant-diameter);
}

farm-slot .indicator[indicator-type="size"] {
    border-radius: var(--plant-radius);
    box-shadow: 0 0 4px 4px gray inset;
}

farm-slot .indicator[indicator-type="family"] {
    visibility: hidden;
    border-radius: var(--plant-family-radius);
    box-shadow: 0 0 4px 4px gray inset;
    width: calc(var(--plant-family-radius) * 2);
    height: calc(var(--plant-family-radius) * 2);
    pointer-events: none;
    --z: 10000px;
}

farm-slot:hover .indicator[indicator-type="family"] {
    visibility: inherit;
}

farm-slot img {
    --z: 0;
    /*width: calc(var(--meter) * 1.25);*/
    position: absolute;
    transform: translate(-50%, -60%) scale(45%) translateZ(var(--z));
    pointer-events: none;
}

farm-slot[plant] .indicator[indicator-type="size"] {
    box-shadow: 0 0 4px 4px green inset;
}

farm-slot[plant].lonely .indicator[indicator-type="size"] {
    box-shadow: 0 0 4px 4px orange inset !important;
}

farm-slot[plant="asparagus"]   img { content: url("../img/giant/asparagus.png") }
farm-slot[plant="carrot"]      img { content: url("../img/giant/carrot.png") }
farm-slot[plant="corn"]        img { content: url("../img/giant/corn.png") }
farm-slot[plant="dragonfruit"] img { content: url("../img/giant/dragonfruit.png") }
farm-slot[plant="durian"]      img { content: url("../img/giant/durian.png") }
farm-slot[plant="eggplant"]    img { content: url("../img/giant/eggplant.png") }
farm-slot[plant="garlic"]      img { content: url("../img/giant/garlic.png") }
farm-slot[plant="onion"]       img { content: url("../img/giant/onion.png") }
farm-slot[plant="pepper"]      img { content: url("../img/giant/pepper.png") }
farm-slot[plant="pomegranate"] img { content: url("../img/giant/pomegranate.png") }
farm-slot[plant="potato"]      img { content: url("../img/giant/potato.png") }
farm-slot[plant="pumpkin"]     img { content: url("../img/giant/pumpkin.png") }
farm-slot[plant="tomato"]      img { content: url("../img/giant/tomato.png") }
farm-slot[plant="watermelon"]  img { content: url("../img/giant/watermelon.png") }